@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Inter:wght@100;400;500;600&family=Mochiy+Pop+One&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,500;0,700;1,100&family=Fraunces&family=Poppins:ital,wght@0,400;0,600;1,400&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;1,200;1,400&family=Montserrat:wght@300;400;500;600;700&display=swap');
:root {
    --dark-font-color: black;
    --dark-gray:rgb(94, 94, 94);
    --header-background-color:rgb(9, 61, 107);
    --light-font-color: rgb(238, 238, 238);
    --sidebar-background-color:rgb(14, 100, 100, .8);
    --blue: rgb(9, 61, 107);
    --purple: rgb(94, 14, 144);
    --aqua: #00B3BB;
    --light-aqua: #00E6AA;
    --dark-aqua: #0E9AA1;
    --menu-h4-color: rgb(7, 33, 56);
    --border-color: #222;
    --background-dark: rgba(0, 0, 0, 0.9);
    --background-light: #DFF1F6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, 
body {
/*     background-image: url('images/coffee1.jpg');
    background-attachment:fixed;
    background-size: cover; */
    margin:0;
    height: 100%;
    font-family: 'Montserrat';
    font-weight: 400;
}
/* Header */
header {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(90deg, var(--light-aqua) 0%, var(--purple) 100%);
    border-color: 1px solid var(--dark-font-color);
  }
  i, h1 {
    display: inline-block;
    margin: 2px;
  }
  /*List Icon*/
  .fa-list-check{
    color: var(--light-font-color);
    font-size: 42px;
  }
  h1 {
      color: var(--light-font-color);
      font-size: 48px;
      font-family: 'Montserrat';
      font-weight: 500;
  }
/*Main Container*/
.container{
    height:70%;
    width:100%;
    text-align: center;
}
button {
    font-family: 'Montserrat';
    color: var(--purple);
    cursor: pointer;
    margin-top: 8px;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--aqua);
    border: 1px solid var(--dark-font-color);

  }
/*Footer*/
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .footer {
      font-family: 'Mochiy Pop One';
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .5rem 0;
      color: var(--light-font-color);
      background: var(--purple)
    }
  a {
    display: inline-block;
    text-decoration:none;
    color: var(--light-font-color);
  }
  
  .fa-github {
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
    margin-left: 4px;
  }
  
  .fa-github:hover {
    transform: rotate(360deg)  scale(1.1); /* Don't want it to rotate on this page */
    color: var(--light-font-color);
  }